:root{
    --white-color: rgb(255, 255, 255);
    --black-color: #1b4a59;
    --text-color: #dadada;
    --border-color: #797676;
    --primary-color:#CFE9EF;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}


