*{
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}
/* GO TO TTOP */
#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 30px;
  border: 1px solid var(--black-color);
  outline: none;
  background-color: transparent;
  color: var(--black-color);
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 50px;
  }
  #myBtn:hover {
  background-color: var(--black-color);
  color: #fff;
  }
/* HEADER */

.header {
  width: 100%;
  z-index: 3;
  padding: 1% 3%;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 0px 1px 9px #d8d7d7;
}
.header .header__navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header__navbar img{
  margin-left: 30px;
}
.header .menu li{
  list-style-type: none;
  display: inline-block;
  position: relative;
}
.header .menu li a{
  text-decoration: none;
  margin: 0 30px;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 300;
}
.header ul li a::after{
  content: ' ';
  height: 2px;
  width: 0;
  background: var(--black-color);
  position: absolute;
  bottom: -5px;
  left: 30px;
  transition: 0.5s;
}
.header ul li a:hover::after{
  width: 30%;
}
/* CONTENT */

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

#home{
  position: relative;
  width: 100%;
}
.slideshow-container {
  margin: auto;
  width: 100%;
}
.fix_img{
  width: 100%;
  height: 785px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  color: var(--black-color);
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color:  var(--black-color);
  color: var(--white-color);
}
.text {
  color: var(--black-color);
  padding: 8px 12px;
  position: absolute;
  top: 284px;
  left: 217px;
}
.text-size-l{
  font-size: 35px;
  font-weight: 300;
  line-height: 50px;
  color: #1B4A59;
  font-family: 'Libre Caslon Display', serif;

}
.text-size-s{
  color: var(--border-color);
  font-size: 20px;
  font-weight: 100;
  margin-top: 50px;
}
.btn-slide a{
  text-decoration: none;
  color: var(--black-color);
}
.btn{
  width: 182px;
  height: 43px;
  border: 1px solid var(--black-color);
  background-color: transparent;
  margin: 40px 0;
  border-radius: 50px;
  color: var(--black-color);
  font-size: 15px;
  text-decoration: none;
  color: var(--black-color);
  padding: 12px 0px;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.btn:hover{
  background-color: var(--black-color);
  border: none;
  color: var(--white-color);
}
.bacham{
  position: absolute;
  bottom: 10%;
  right: 47%;
} 
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: var(--border-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  image-rendering: pixelated;
}
.active, .dot:hover {
  background-color: var(--black-color);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* ANIMATION */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* What We Do */
#whatwedo{
  font-family: 'Libre Caslon Display', serif;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  padding-bottom: 168px;
  height: 1800px;
}
.whatwedo_align .btn-slide{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 163px;
}
.whatwedo_align h3{
  color: var(--border-color);
  font-size: 20px;
  font-weight: 100;
  margin: 164px 0 64px 0;
}
.whatwedo_align h1{
  color: var(--black-color);
  font-family: 'Libre Caslon Display', serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}
.whatwedo_grid{
  position: relative;
}
.whatwedo_grid .grid1{
  position: absolute;
  top: 340px;
  left: 84px;
}
.whatwedo_grid .text-grid{
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}
.text-grid h1{
  color: var(--black-color);
  font-family: 'Libre Caslon Display', serif;
  font-size: 35px;
  line-height: 60px;
  font-weight: 100;
}
.text-grid h3{
  color: var(--border-color);
  font-size: 15px;
  font-weight: 300;
}
.whatwedo_grid .grid2{
  position: absolute;
  top: 250px;
  right: 305px;
}
.whatwedo_grid .grid3{
  position: absolute;
  top: 780px;
  right: 84px;
}
.whatwedo_grid .grid4{
  position: absolute;
  left: 193px;
  top: 900px;
}
.fulltext h1{
  color: var(--black-color);
  font-family: 'Libre Caslon Display', serif;
  text-align: left;
  font-size: 35px;
  line-height: 40px;
  font-weight: 100;
  margin-bottom: 40px;
}
.fulltext h3{
  color: var(--border-color);
  text-align: left;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: var(--black-color);
}
/* WHO WE ARE */

#whoweare{
  background-color: #FAFAFA;
  height: 1000px;
  display: flex;
  padding: 160px 194px;
  position: relative;
}
#whoweare .headtext{
  position: absolute;
  top: 235px;
  left: 529px;
  font-size: 70px;
  line-height: 70px;
}
#whoweare .bodytext{
  position: absolute;
  top: 500px;
  left: 635px;
  display: flex;
}
#whoweare .bodytext h3{
  margin-right: 40px;
  color: var(--black-color);
}
#whoweare .btn-slide{
  position: absolute;
  top: 700px;
  left: 635px;
}
/* HAPPY */
.happy{
  background-color:var(--black-color) ;
  padding: 6% 30%;
  background-attachment: fixed;
}
.happy .democolumns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
}
.happy .democolumns .column{
  color: var(--white-color);
  margin: auto;
}
.happy .democolumns .column h1{
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Libre Caslon Display', serif;

}
.happy .democolumns .column h3{
  font-size: 20px;
  line-height: 30px;
  font-family: 'Libre Caslon Display', serif;
}

/* SHOP */
#slide-demo{
  width: 100%;
  height: 600px;
  position:relative;
  overflow:hidden;
  background-color: #FAF9F5;
  padding: 130px 0;
}
input[type="radio"] {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#slide-demo img{
  float:left;
  margin-left: 48px;
}
.slide{
  position:absolute;
  opacity:0;
  transition: all 0.6s ease-in;
}
label{
  display:block;
  width: 150px;
  border: 2px solid var(--text-color);
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
  cursor: pointer;
  transition: border-color 0.3s linear;
  border-radius: 2px;
}
label.second{
  left:34%;
}
label.third{
  left:66%;
}
/* label checked */
#first:checked ~ label.first {
  border-color: var(--black-color);
}
#second:checked ~ label.second {
  border-color: var(--black-color);
}
#third:checked ~ label.third {
  border-color:  solid var(--black-color);
}

#first:checked ~ div.one {
  opacity:1;
}
#second:checked ~ div.two {
  opacity:1;
}
#third:checked ~ div.three {
  opacity:1;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* OUR SERVICES */

#ourServices{
  width: 100%;
  height: 800px;
  background-image: url(/assets/img/Rectangle-1-1170x650.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#ourServices::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(21, 28, 31, 0.4);
  z-index: 1;
}
#ourServices .demogrid{
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#ourServices .demogrid_grid{
  width: 550px;
  height: 265px;
  color: var(--white-color);
  background-color: var(--white-color);
  cursor: pointer;
}
#ourServices .demogrid_grid .grid1{
  background-color: var(--black-color);
}
#ourServices .text-grid{
  text-align: center;
  padding-top: 50px;
}
#ourServices .text-grid i{
  font-size: 30px;
  color: var(--black-color);
}
.demogrid_grid .text-grid h1{
  font-size: 25px;
  color: var(--black-color);

}
.demogrid_grid .text-grid h3{
  font-size: 15px;
  color: var(--black-color);
  letter-spacing: 1px;
  line-height: 20px;
}

.demogrid_grid .grid1{
  grid-column-start: 1;
  cursor: pointer;
}
.demogrid_grid .grid1:hover{
  border:none;
  background-color: var(--black-color);
}
.demogrid_grid .grid2{
  cursor: pointer;
  grid-column-start: 2;
}
.demogrid_grid .grid3{
  cursor: pointer;
  grid-column-start: 3;
}
.demogrid_grid .grid4{
  cursor: pointer;
  grid-column-start: 4;
}

/* <!-- CONTACT --> */


#contact{
  background-color: var(--white-color);
  height: 700px;
  position: relative;

}
#contact .text-grid{
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#contact .title{
  color: var(--black-color);
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;

}
#contact hr{
  text-align: center;
  width: 70px;
  position: absolute;
  top: 107%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--black-color);
  border: none;
  height: 3px;
} 
    
#contact .body_form{           
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
}
#contact .btn-slide{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
}
#contact .body_form .grid_form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 70px;
    grid-row-gap: 25px;
    background: transparent;
}
#contact .body_form .bgtran{
    background: transparent;
    border: none;   
    border-bottom: 0.5px solid var(--black-color); 
    color: var(--black-color); 
    font-size: 20px;
    outline: none;
}
#contact .body_form ::placeholder{
    color: var(--black-color);
}
/* grid_form */
#contact .grid_form .grid1{
    grid-column-start: 1;
    width: 300px;
    height: 30px;       
}
#contact.grid_form .grid2{
    grid-column-start: 2;
    width: 300px;
    height: 30px;
}
#contact .grid_form .grid3{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 300px;
    height: 30px;
}
#contact .grid_form .grid4{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 300px;
    height: 30px;
}
#contact .grid_form .grid5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 70px;
}
/* FOOTER */
.container{
  position: relative;
}
.footer{
  position: fixed;
  width: 100px;
  top: 200px;
  left: 30px;
}

#div_blockicon:hover i{
  transform: scale(1.5);;
}
#div_blockicon i{
  font-size: 20px;
  margin: 20px 0;
  color: var(--black-color);
  transition: transform .2s;

}
@keyframes chuyendong{
  from{
    right: 0;
  }
  to{
    right: 20px;
  }
}

